
.content {
  padding: 0 0 0 3em;
}

.content code {
  padding: 0.25em 0.5em;
}

.content .code-block {
  font-size: .7em;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  padding: 1em;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}


.content a {
  color: var(--primary-link-color);

  &:hover :not(.button) {
    text-decoration: underline;
  }
}

.content blockquote {
  border-left: #e2dede 8px solid;
  margin: 0;
  background-color: #f2f1f0;
  padding: 0 20px;
}
