@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


ul {
  margin-top: 0.5rem;
}

p > img {
  width: 100%;
  height: auto;
}

header {
  background-color: var(--primary-color);
  color: black;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 0 40px;
  line-height: 1;

  img {
    width: 60px;
    margin: 0 20px;
  }
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
  }
  
}
.navbar-item > button {
  background-color: transparent;

}


.donate.button.is-white.is-outlined {
  margin: 0 0 0 1em;
}

.donate.button.is-white.is-outlined:hover {
    background-color: #3ec46d;
    border-color: transparent;
    color: #fff;
}

.hero {
  background-color: var(--primary-color);
  .explore-more {
    cursor: pointer;
  }
}

.explainer-video {
  background-color: var(--primary-color);
 
  a {
    color: #fcfcfc;
    text-decoration: underline;
  }

}

main {
  display: flex;
  padding: 50px 48px;

  .toc {
    max-width: 260px;
    min-width: 240px;
  }

  .toc-item {
    padding: 5px 20px;
    color: #424242;
  }

  .toc-item a, .toc-item-child a {
    color: var(--secondary-text-color);
    font-weight: bold;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .toc-item a.active, .toc-item-child a.active {
    color: var(--toc-highlight-text-color);
  }

  .toc-item-child {
    padding: 0 30px 5px;
    color: #424242;
  }

}

.toc-sticky {
  border-top: 5px solid var(--primary-color);
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 10px;
  padding: 10px 0;
}

footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--primary-color);

  a {
    color: #fcfcfc;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    max-width: 60%;
    min-width: 800px;
  }
}

@media screen and (max-width: 821px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
    margin: 10px;

    img {
      width: 45px;
      margin: 0 10px 0 0;
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 16px;
  }

  main {
    padding: 0px;
  }

  .content {
    padding: 0;
  }

  .explore-more, .toc {
    display: none;
  }

}
