<section class="hero is-large">
    <div class="container is-fullhd hero-body">
        <p class="title is-1 has-text-white">
            Rescue Respiration
        </p>
        <div class="subtitle has-text-white">
            We build an open source, <b>afforable ventilator</b> to help countries everywhere beat the COVID19 Pandemic.
        </div>
        <a href="/" class="  button is-success is-medium">
            Support us now!
        </a>
    </div>
    <div class="level">
        <div class="level-item  pb-4" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            <p class="is-size-3-tablet has-text-white"><b>Learn More ⇩</b></p>
        </div>
    </div>
</section>


