<section class="hero">
    <div class="container hero-body">
        <p class="title is-1 has-text-white">
            Rescue Respiration
        </p>
        <div class="subtitle has-text-white" style="max-width: 65ch;">
          We build an open source, <b>afforable ventilator</b> to help countries everywhere beat the COVID19 Pandemic.
        </div>
        <div class="columns is-vcentered">
            <div class="column">

                <a href="/donate" class="  button is-success is-medium">
                    Support us now!
                </a>
            </div>
        </div>
    </div>
    <div class="level">
        <div class="level-item  pb-4" onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            <p class="is-size-5-tablet has-text-white"><b>View our Progress ⇩</b></p>
        </div>
    </div>
</section>




