<section id="usp" class="section section-padding-large usp">
    <div class="container is-desktop">
        <div class="has-text-centered mb-6">
            <p class="title is-1">Our Ventilator is</p>
            <!--<p class="subtitle">Widely deployable</p>-->
        </div>
        <div class="columns is-variable">
           <div class="column is-4 content">
                <p class="title mb-1">Easily manufactured</p>
                <ul>
                    <li>Simple: to ensure the device can be assembled all around the world.</li>

                    <li>Availible: build using "off the shelf" parts.</li>

                    <li>Safe: Multiple specially engineered electronic components to ensure the safety of the patient.</li><!--Certified by the German TÜV.</li>-->

                    <li>Low-cost: target total component costs between $500 and $1.000 USD per unit. Traditional ventilators usually cost upwards of $25.000 USD per unit.</li>
                </ul>
            </div>

            <div class="column is-4 content">
                <p class="title mb-1">Flexibly deployed</p>
                <ul>
                    <li>Resilient: can bridge multi-hour power outages with a built-in battery. Alternativlely it can be powered using just two solar panels.</li>

                    <li>Versatile: can be connected to both hospital oxygen supplies and portable gas cylinders</li>

                    <li>Robust: enclosed in a strong, protective stainless steel shell.</li>

                    <li>Intuitive: uses a touch optimized graphical user interface.</li>

                    <li>Maintainable: easy to repair.</li>
                </ul>
            </div>

            <div class="column is-4 content">
                <p class="title mb-1">Sustainibly developed</p>
                <ul>
                    <li>Public Money: The expensive certification process was paid for by the German Ministry for Economic Cooperation and Development.</li>

                    <li>Public Code: The source code, schematics and other technical documents will be availible on GitHub one we have passed the certification.</li>

                    <li>Helping Countries: The device is fully developed in Germany by a team of volunteers.</li>

                    <li>To help themselves: The device is manufactured by local companies in the developing countries.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

