<section id="usp" class="section section-padding-large usp">
    <div class="container is-desktop">
        <div class="container has-text-centered mb-6">
            <p class="title is-1">Our Ventilator is</p>
            <p class="subtitle">Widely deployable</p>
        </div>
        <div class="columns is-variable is-7 is-desktop ">
            <div class="column content text" style="min-width: 30ch">
                <p class="title mb-1">
                    Widely deployable
                </p>
                <ul>
                    <li>Consists of less than 150 readily available parts, so no single part limits production (fans typically have over 2,000 parts)</li>

                    <li>Resistant to dust and dirt</li>
                
                    <li>Streamlined: few moving parts reduce the need for maintenance and service</li>

                    <li>Compact and lightweight: less than 5 pounds and smaller than a shoebox</li>

                    <li>Versatile: can be connected to both hospital oxygen supplies and portable gas cylinders</li>
                    <li>Can bridge multi-hour power outages with built-in battery. And can even be powered with just two solar panels.</li>
                </ul>
            </div>
            <div class="column content text" style="min-width: 30ch">
                <p class="title mb-1">Affordable</p>
                <ul>
                    <li>Consists of less than 150 readily available parts, so no single part limits production (fans typically have over 2,000 parts)</li>

                    <li>Resistant to dust and dirt</li>
                
                    <li>Streamlined: few moving parts reduce the need for maintenance and service</li>

                    <li>Compact and lightweight: less than 5 pounds and smaller than a shoebox</li>

                    <li>Versatile: can be connected to both hospital oxygen supplies and portable gas cylinders</li>
                    <li>Can bridge multi-hour power outages with built-in battery. And can even be powered with just two solar panels.</li>
                </ul>
            </div>
            <div class="column content text" style="min-width: 30ch">
                <p class="title mb-1">Effective</p>
                <ul>
                    <li>Consists of less than 150 readily available parts, so no single part limits production (fans typically have over 2,000 parts)</li>

                    <li>Resistant to dust and dirt</li>
                
                    <li>Streamlined: few moving parts reduce the need for maintenance and service</li>

                    <li>Compact and lightweight: less than 5 pounds and smaller than a shoebox</li>

                    <li>Versatile: can be connected to both hospital oxygen supplies and portable gas cylinders</li>
                    <li>Can bridge multi-hour power outages with built-in battery. And can even be powered with just two solar panels.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

