<style>
    :root {
        --mikado-yellow: #fec601;
        --rosso-corosa: #ff312e;
        --smoky-black: #1c110a;
        --yellow-green-color-wheel: #24a810;
        --white:  #ffffff;
        --baby-pouder: #fcfaf6;
        --beau-blue: #d8ebfd;
        --blue-saphire: #19647e;
        --gunmetal:  #071b22;
        --teal-blue: #2e728a;

        /* Primary theme color */
        --primary-color: var(--gunmetal);
        /* Primary theme text color */
        --primary-text-color: var(--white);
        /* Primary theme link color */
        --primary-link-color: var(--rosso-corosa);
        /* Secondary color: the background body color */
        --secondary-color: var(--rosso-corosa);
        --secondary-text-color: var(--smoky-black);
        /* Highlight text color of table of content */
        --toc-highlight-text-color: var(--rosso-corosa)
</style>
