<section class="section explainer-video">
    <div class="container is-fullhd my-3">
        <div class="columns is-vcentered">
            <div class="container column is-4 pb-6">
                <p class="title has-text-white pb-4">Our Ventilator explained.</p>
                <p class="subtitle has-text-white">
                    Our speaker and back-end developer Johann Kipping explains how the Rescue Respiration Ventilator works and how it was developed.<br>
                    Learn more about this life-saving technology in our 5-minute explainer video. 
                </p>
                <p class="has-text-white">
                    Watch the <a href="https://www.youtube-nocookie.com/embed/76tKJwuuFbU">German version</a> instead.
                </p>
            </div>

            <div class="column is-three-fifths">
                <div style="position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;">

                    <iframe
                    style="border: none; background-color: var(--smoky-black); position:absolute; top:0; left:0; width:100%; height:100%;"
                    src=""
                    data-src="https://www.youtube-nocookie.com/embed/76tKJwuuFbU{% if autoplay %}?autoplay=1{% endif %}"
                    data-2click-type="video"
                    frameborder="0"
                    allow="autoplay; encrypted-media"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen>
                    </iframe>

                </div>
            </div>
        </div>
    </div>
</section>
