{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no viewport-fit=cover">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!--Stylesheets-->
    {% include "_variables.html" %}

    <link rel="stylesheet" href="/style.css">

    <!--Favicon-->
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="theme-color" content="#071b22">

    <!--Open Graph-->
    <meta name="description" content="A open source, afforable ventilator to help countries everywhere beat the COVID19 Pandemic.">
    <meta property="og:title" content="Rescue Resipiration">
    <meta property="og:description" content="A open source, afforable ventilator to help countries everywhere beat the COVID19 Pandemic.">
    <meta property="og:image" content="/images/og_preview.jpg">
    <meta property="og:image:alt" content="Person working on Ventilator in Hospital.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="Person working on Ventilator in Hospital">
    <meta property="og:url" content="https://www.rescue-respiration.org/">
    <link rel="canonical" href="https://www.rescue-respiration.org/">
    
    <!--Additional Head-->
    {% block head %}
    {% endblock head %}
</head>

<body class="notch-safe is-flex is-flex-direction-column" style="min-height: 100vh;">
    {% block header %}
    <section>
        <header>
            {{ macros::render_header() }}
        </header>
    </section>

    {% include '_hero.html' %}

    <figure class="image is-16by9" style="background-color: #D8EBFD">
        <picture>
            <source srcset="images/render_1_front_ui.webp" type="image/webp">
            <img src="images/render_1_front_ui.jpeg" alt="logo">
        </picture>
    </figure>

    {% include '_video.html' %}

    <figure class="image is-16by9">
        <picture>
            <source srcset="images/DSCF9554@0.5x.webp" type="image/webp">
            <img src="images/DSCF9554@0.5x.jpeg" alt="logo">
        </picture>
    </figure>

    {% include '_usp.html' %}

    <figure class="image is-16by9">
        <picture>
            <source srcset="images/DSCF9620@0.5x.webp" type="image/webp">
            <img src="images/DSCF9620@0.5x.jpeg" alt="logo">
        </picture>
    </figure>

    {% endblock header %}

    <main class="is-flex-grow-1">
        <section class="section container is-desktop" style="display: flex;">

            {% block toc %}
            {% if section.toc %}
            {% set toc = section.toc %}
            {% elif page.toc %}
            {% set toc = page.toc %}
            {% endif %}
            {% if toc %}
            <div class="toc">
                <div class="toc-sticky">
                    {% for h in toc %}
                    <div class="toc-item">
                        <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                    </div>
                    {% if h.children %}
                    {% for h2 in h.children %}
                    <div class="toc-item-child">
                        <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endblock toc %}

            <div class="content text">
                {% block content %}
                    <div id="timeline" class="heading-text" style="margin-bottom: 0px;">Timeline</div>
                    {{ section.content | safe }}
                {% endblock content %}
            </div>

        </section>
    </main>

    {% block footer %}
    <footer>
        {% include '_footer.html' %}
    </footer>
    {% endblock footer %}
</body>
<!--Additional Javascript-->
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
